
{% extends "layout.html" %}
{% block body %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ventas</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/estilos.css">

</head>

<body>
    <!-- ------------------------------------------------Tabla de ARQUEO------------------------------------------ -->


    <div class="container-form">      
        <div class="table-section">
            <h3 class="titulo">Arqueo</h3>
            <table class="table table-striped table-bordered bg-white tables-sm">
                <thead>
                    <tr>
                        <td>Monto</td>
                        <td>Apertura</td>
                        <td>Cierre</td>
                        <td>ID Empleado</td>
                        <td>Opciones</td>
                    </tr>
                </thead>
                <tbody>
                    {%for row in list_users %}
                    <tr>
                        <td> {{row.1}}</td>
                        <td> {{row.2}}</td>
                        <td> {{row.3}}</td>
                        <td> {{row.4}}</td>
                        <td> 
                            <a href="/editar_arqueo/{{row.0}} "><i class="ri-edit-line"></i></a>
                            <a href="/eliminar_arqueo/{{row.0}} "><i class="ri-delete-bin-line"></i></a>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>

        <!-- ---------------------------------------Formulario Arqueo de Caja----------------------------------------- --> 
        <div class="form-section">
            <div class="contenedor-form">
                <h3 class="titulo">Arqueo de Caja</h3>   
                    <div class="card card-body">
                        <form action='/agregar_arqueo' method="POST" >
                            <div class="input-form">
                                <label for="Monto">Monto</label><br>
                                <input type = "number" name="monto" placeholder="Monto"  class="form-control" >
                            </div>
                            <div class="input-form">
                                <label for="FechaAper">Fecha Apertura</label>
                                <input type = "date" name="apertura" placeholder="Apertura"  class="form-control">
                            </div>
                            <div class="input-form">
                                <label for="FechaCie">Fecha Cierre</label>
                                <input type = "date" name="cierra" placeholder="Cierre"  class="form-control" >
                            </div>
                            <div class="input-form">
                                <label for="ID_empleado">ID Empleado</label>
                                <input type = "text" name="idempleado" placeholder="ID Empleado"  class="form-control" >
                            </div>
                            <div class="input-form">
                                <button type="submit" class="btn">
                                    Guardar
                                </button>
                            </div>
                        </form>
                    </div>
            </div>    
        </div> 
    </div>    
</body>

</html>
{% endblock  %}