{% extends "layout.html" %}
{% block body %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/estilos.css">
    <title>Proveedores</title>

</head>

<body class="cuerpo">
    <div class="container-form">
        <div class="table-section">
            <h3 class="titulo">Clientes</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>

                        <th style="display: none;">Id Cliente</th>
                        <th>Nombre</th>
                        <th>telefono</th>
                        <th>Dirección</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cliente in cliente %}
                    <tr>

                        <td>{{cliente.1}}</td>
                        <td>{{cliente.2}}</td>
                        <td>{{cliente.3}}</td>


                        <td>
                            <a href="/editar_cliente/{{cliente.0}}" class=""><i class="ri-edit-line"></i></a>
                            <a href="/eliminar_cliente/{{cliente.0}}" class=""><i class="ri-delete-bin-line"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <div class="form-section">
            <div class="contenedor-form">
                <h2 class="titulo">Agregar Cliente</h2>
                <form method="POST" action="/agregar_cliente">
                    <div class="input-form">
                        <label for="nombre">Nombres</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required>
                    </div>
                    <div class="input-form">
                        <label for="telefono">Telefono</label>
                        <input type="text" class="form-control" id="telefono" name="telefono" required>
                    </div>
                    <div class="input-form">
                        <label for="direccion">Dirección</label>
                        <input type="text" class="form-control" id="direccion" name="direccion" required>
                    </div>
                    <button type="submit" class="btn btn-success">Agregar</button>
                </form>
            </div>
        </div>


    </div>
</body>

</html>
{% endblock %}
