{% extends 'layout.html' %} 

{%block body%}
<div class="col-md-4 offset-md-4" >
    <div class="card card-body" >
        <form action="/actualizar_producto/{{producto.0}}" method="POST" >
            <div class="from-group">
                <input type"text" name="nombreproducto" placeholder="Nombre Del Producto" value={{producto.1}} class="form-control" >
            </div>
            <div class="from-group">
                <input type"integer" name="precio" placeholder="Precio" value={{producto.2}} class="form-control">
            </div>
            <div class="from-group">
                <input type"integer" name="codigo" placeholder="Codigo" value={{producto.3}} class="form-control">
            </div>
            
            <div class="from-group d-grid gap-2 pt-2 ">
                <button type="submit"class="btn btn-succes btn-block" >
                    Guardar
                </button>
            </div>
        </form>
    </div>
</div>
{%endblock%}