{% extends "layout.html" %}
{% block body %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empleado</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/aplicativoback.css') }}">
    <style>
        /* Agregar estilos CSS para ocultar la columna "ID Empleado" */
        #tablaProveedores th:nth-child(1),
        #tablaProveedores td:nth-child(1) {
            display: none;
        }

        /* Estilos para el diseño con flexbox */
        #contenedorTablaFormulario {
            display: flex;
        }

        #tablaProveedores {
            flex: 1;
            /* La tabla ocupa 1/2 del ancho total */
            margin-right: 10px;
            /* Espacio entre la tabla y el formulario */
        }

        /* Estilo para resaltar la fila seleccionada */
        .seleccionado {
            background-color: #f0f0f0;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

<body>
    <!-- Botón para mostrar/ocultar formulario -->

    <div class="container">
        <button class="btn btn-secondary btn-outline-dark" id="btnMostrarFormulario">Agregar Empleado</button>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="section">
            <!-- Tabla de empleados y formulario -->
            <div id="contenedorTablaFormulario">
                <div class="table-responsive" id="tablaempleados">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <!-- La siguiente línea oculta la columna "ID Proveedores" -->
                                <th style="display: none;">ID Empleado</th>
                                <th>Nombre</th>
                                <th>fecha de ingreso</th>
                                <th>fecha de salida</th>
                                <th>cargo</th>
                                <th>correo</th>
                                <th>usuario</th>
                                <th>clave</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for empleado in empleado %}
                            <tr>
                                <!-- La siguiente línea oculta la columna "ID Empleado" -->
                                <td style="display: none;">{{ empleado[0] }}</td>
                                <td>{{ empleado[1] }}</td>
                                <td>{{ empleado[2] }}</td>
                                <td>{{ empleado[3] }}</td>
                                <td>{{ empleado[4] }}</td>
                                <td>{{ empleado[5] }}</td>
                                <td>{{ empleado[6] }}</td>
                                <td>{{ empleado[7] }}</td>
                                <td>
                                    <a class="edit" title="Editar" data-toggle="tooltip" data-id="{{ empleado[0] }}"
                                        href="#"><i class="material-icons">&#xE254;</i></a>
                                    <a class="delete" title="Eliminar" data-toggle="tooltip"
                                        href="{{ url_for('eliminar_empleado', idempleado=empleado[0]) }}"><i
                                            class="material-icons">&#xE872;</i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- Formulario para agregar un nuevo empleado -->
                <div id="formularioAgregar" style="display: none;">
                    <h2>Agregar Empleado</h2>
                    <form method="POST" action="/agregar_empleado">
                        <div class="form-group">
                            <label for="nombre">Id empleado</label>
                            <input type="text" class="form-control" id="idempleado" name="idempleado" required>
                        </div>
                        <div class="form-group">
                            <label for="nombreempleado">Nombre</label>
                            <input type="text" class="form-control" name="nombreempleado" id="nombre" placeholder="Nombre del empleado" required>
                        </div>
                        <div class="form-group">
                            <label for="fechaingreso">Fecha de Ingreso</label>
                            <input type="date" class="form-control" id="fechaingreso" name="fechaingreso" placeholder="Fecha de ingreso" required>
                        </div>
                        <div class="form-group">
                            <label for="fechasalida">Fecha de Salida</label>
                            <input type="date" class="form-control" id="fechasalida" name="fechasalida" placeholder="Fecha de salida">
                        </div>
                        <div class="form-group">
                            <label for="cargo">Cargo</label>
                            <input type="text" class="form-control" id="cargo" name="cargo" placeholder="cargo" required>
                        </div>
                        <div class="form-group">
                            <label for="correo">Correo</label>
                            <input type="text" class="form-control" id="correo" name="correo" placeholder="correo" required>
                        </div>
                        <div class="form-group">
                            <label for="usuario">Usuario</label>
                            <input type="text" class="form-control" id="usuario" name="usuario" placeholder="usuario" required>
                        </div>
                        <div class="form-group">
                            <label for="clave">Clave</label>
                            <input type="text" class="form-control" id="clave" name="clave" placeholder="clave" required>
                        </div>
                        <button type="submit" class="btn btn-success">Agregar</button>
                    </form>
                </div>
                <!-- Formulario para editar un empleado -->
                <div id="formularioEditar" style="display: none;">
                    <h2>Editar Empleado</h2>
                    <form method="POST" action="/editar_empleado">
                        <div class="form-group">
                            <label for="nombreEditar">Nombre</label>
                            <input type="text" class="form-control" id="nombreEditar" name="nombreEditar" required>
                        </div>
                        <div class="form-group">
                            <label for="fechaingresoEditar">Fecha de Ingreso</label>
                            <input type="date" class="form-control" id="fechaingresoEditar" name="fechaingresoEditar" required>
                        </div>
                        <div class="form-group">
                            <label for="fechasalidaEditar">Fecha de Salida</label>
                            <input type="date" class="form-control" id="fechasalidaEditar" name="fechasalidaEditar" required>
                        </div>
                        <div class="form-group">
                            <label for="cargoEditar">Cargo</label>
                            <input type="text" class="form-control" id="cargoEditar" name="cargoEditar" required>
                        </div>
                        <div class="form-group">
                            <label for="correoEditar">Correo</label>
                            <input type="text" class="form-control" id="correoEditar" name="correoEditar" required>
                        </div>
                        <div class="form-group">
                            <label for="usuarioEditar">Usuario</label>
                            <input type="text" class="form-control" id="usuarioEditar" name="usuarioEditar" required>
                        </div>
                        <div class="form-group">
                            <label for="claveEditar">Clave</label>
                            <input type="text" class="form-control" id="tclaveEditar" name="claveEditar" required>
                        </div>
                        <button type="submit" class="btn btn-success">Guardar Cambios</button>
                    </form>
                </div>

            </div>
        </div>

        <!-- JavaScript para mostrar/ocultar el formulario -->
        <script>
            $(document).ready(function () {
                $("#btnMostrarFormulario").click(function () {
                    $("#tablaProveedores").toggleClass("col-lg-6"); // Reducir el ancho de la tabla
                    $("#formularioAgregar").toggle(); // Mostrar u ocultar el formulario de agregar
                    $("#formularioEditar").hide(); // Ocultar el formulario de editar al mostrar el de agregar
                    $("#tablaProveedores tr").removeClass("seleccionado"); // Desmarcar cualquier fila seleccionada
                });

                // Manejar la acción de editar
                $(".edit").click(function () {
                    var idProveedor = $(this).data("id");
                    // Rellenar el formulario de editar con los datos de la fila seleccionada
                    $("#nombreEditar").val($("#tablaProveedores tr[data-id='" + idProveedor + "'] td:nth-child(2)").text());
                    $("#nitEditar").val($("#tablaProveedores tr[data-id='" + idProveedor + "'] td:nth-child(3)").text());
                    $("#direccionEditar").val($("#tablaProveedores tr[data-id='" + idProveedor + "'] td:nth-child(4)").text());
                    $("#telefonoEditar").val($("#tablaProveedores tr[data-id='" + idProveedor + "'] td:nth-child(5)").text());

                    // Marcar la fila seleccionada
                    $("#tablaProveedores tr").removeClass("seleccionado");
                    $("#tablaProveedores tr[data-id='" + idProveedor + "']").addClass("seleccionado");

                    // Mostrar el formulario de editar y ocultar el de agregar
                    $("#formularioEditar").show();
                    $("#formularioAgregar").hide();
                });
            });
        </script>

    </div>
</body>

</html>
{% endblock  %}