<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>SIN NOMBRE</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/index.html" id="principal">sin nombre</a>
    <a class="navbar-brand" href="/Login.html">Login</a>
    <a class="navbar-brand" href="/Login.html">Funcionalidades</a>
    
  </nav>

    <div class="container pt-4">
      {% block body %}
      {% endblock %}
    </div>

    <footer class="bg-dark text-center text-white">

      <section style="opacity: 0.5">
          <div class="container ">
              <div class="row text-center" style="padding-top: 4%;">
                  <div class="col-md-4">
                      <h5>Objetivo</h5>
                      <p>
                          Nuestro sofware de administracion de negocios es una solucion integral y eficiente 
                          diseñada para facilitar la gestion y el crecimiento de todo tipo de empresas.
                      </p>
                  </div>
                  <div class="col-md-4" >
                      <h5 class="" >Localidades</h5>
                          <ul class="list-unstyled mb-0">
                              <li>
                                  <a href="../FUNDAMENTOS DE PROGRAMACION WEB/candelaria.php" class="text-white " style="text-decoration: none; " >Candelaria</a>
                              </li>
                  </div>
                  <div class="col-md-4">
                      <h5>Contacto</h5>

                      <p>miguel.rodriguez-bo@uniminuto.edu.co</p>
                      <p>miguel.rodriguez-bo@uniminuto.edu.co</p>
                      <p>miguel.rodriguez-bo@uniminuto.edu.co</p>

                  </div>

              </div>

          </div>

      </section>
      
  
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2023 Copyright:
          <a class="text-white" href="/index.html">Sin nombre</a>
      </div>
      
  </footer>
</body>
</html>