{%block body%}
<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Login</title>
  

 </head>
 <body>
  <div>
      <form class="form-group" action="{{ url_for('hacer_login') }}" method="post" style="padding: 40%; padding-top: 10%; padding-bottom:11.5%;">
        <h3 style="text-align: center;">Inicio de sesion</h3>
        <label>Correo</label>
        <input type="text" class="form-control" name="username" placeholder="Correo" id="username" required>
        <label>Contraseña</label>
        <input type="password" class="form-control" name="password" placeholder="Contraseña" id="password" required>
        <label >  </label>
        <input type="submit" value="Ingresar" class="form-control btn btn-success " name="" >
      </form>

      <div style="padding-left: 30%; padding-right: 30%;">
        {% with messages = get_flashed_messages()  %}
          {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">     ×</span>
              </button>
            </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>

    
  </div>

  <footer class="bg-dark text-center text-white footer" >

    <section style=" opacity: 0.5">
        <div class="container ">
            <div class="row text-center" style="padding-top: 4%;">
                <div class="col-md-4">
                    <h5>Sobre BusinessControl</h5>
                    <ul class="list-unstyled mb-0">
                      <li>
                          <a href="" class="text-white " style="text-decoration: none; " >Funcionalidades</a>
                      </li>
                      <li>
                        <a href="" class="text-white " style="text-decoration: none; " >Precios</a>
                      </li>
                      <li>
                          <a href="" class="text-white " style="text-decoration: none; " >Culturas</a>
                      </li>
                  <ul>
                </div>

                <div class="col-md-4" >
                    <h5>Material de ayuda</h5>
                        <ul class="list-unstyled mb-">
                            <li>
                                <a href="" class="text-white " style="text-decoration: none; " >Preguntas Frecuentes</a>
                            </li>
                            <li>
                              <a href="" class="text-white " style="text-decoration: none; " >Blog</a>
                            </li>
                            <li>
                              <a href="" class="text-white " style="text-decoration: none; " >Centro de ayuda</a>
                            </li>
                        <ul>
                </div>

                <div class="col-md-4">
                    <h5>Contacto</h5>

                    <p>miguel.rodriguez-bo@uniminuto.edu.co</p>
                    <p>jorge.ramos-s@uniminuto.edu.co</p>
                    <p>miguel.rodriguez-bo@uniminuto.edu.co</p>

                </div>

            </div>

        </div>

    </section>
    

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); padding-bottom: 0%;">
        © 2023 Copyright:
        <a class="text-white" href="/index.html">BusinessControl</a>
    </div>
    
</footer>
  
 </body>

</html>




{%endblock%}