<!-- login -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/aplicativoback.css') }}" type="text/css"> 
</head>
<body>
    <div class="container text-center">
        <div class="login-form">
            
            <input type="text" class="form-control" placeholder="Username" required>
            <input type="password" class="form-control" placeholder="Password" required>
            <div class="form-check">
                <input type="checkbox" class="form-check-input">
                <label class="form-check-label">Remember me</label>
            </div>
            <a href="#" class="forgot-password">Forgot Password?</a>
            <button class="btn btn-primary">Login</button>
        </div>
    </div>
</body>
</html>
